{% extends "base.html.twig" %}

{% block title %}Dra kort{% endblock %}

{% block header %}{{ title }}{% endblock %}

{% block main %}
    <p class="text-center">Antal kort kvar i kortleken är {{ size }} stycken.</p>
    {% if drawnCard %}
        <p class="text-center">Dragna kort:</p>
        <div class="card-container">
            {% for card in drawnCard %}
            <i
                class="shadow border card-sprite suit-{{ card.getSuit() }} card-value-{{ card.getValue() }} "
                style="background-image:url({{ asset('image/cards-sprite.png')}});">
            </i>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}