{% extends "base.html.twig" %}

{% block title %}Kort{% endblock %}

{% block header %}Kort{% endblock %}

{% block main %}
    <h2>Om upplägget</h2>
    <p>De klasser som skapats för denna delen av sidan är Card, CardGraphic och DeckOfCards. Card är en klass som bl a innehåller två klassvariabler bestående av arrayer som i sin tur har vilka värdem (1-13) och vilka färger (hjärter, ruter etc.) som korten kan ha. CardGraphic är en subklass till Card som har ärvt alla dess egenskaper, men som också överlagrar metoden getAsString som ger en mer grafisk representation av varje kort jämfört med Card. Metoden användes under utveckling för den grafiska delen, men ersattes sedan med en card-sprite för att få lite snyggare kort.</p>
    <p>DeckOfCards i sin tur kan innehålla allt från 0 till många kort, då tanken är att denna ska vara en mer öppen klass och inte låst till just en "vanlig" kortlek. Varje Card skapas och "injectas" in i DeckOfCards, och på så sätt kan man ha allt från 0 till många kort i en DeckOfCards. Här skulle man kunna vidareutveckla DeckOfCards till att istället lägga till kort baserat på ett "interface", vilket hade gjort klassen ännu mer flexibel. Men det är inget jag gjorde för denna uppgiften.</p>
    <p>DeckOfCards har två medlemsvariabler, där båda är arrayer som tillsammans innehåller alla korten som är i kortleken. När man drar ett eller flera kort flyttas de från ena arrayen till den andra, så att man alltid har alla kort tillgängliga men samtidigt separerar vilka kort som är så att säga "oanvända".</p>
    <p>Så som jag då har lagt upp koden så då korten "injectas" Card/CardGraphic i DeckOfCards, och även om ett kort kan skapas utan att ha ett nödvändigt beroende till en kortlek så är det ju trots allt hela syftet att en kortlek innehåller kort. Därmed har jag då en komposition mellan Card/CardGrapich och DeckOfCards, där varje enskilt kort endast kan tillhöra en kortlek. Däremot kan en kortlek bestå av flera kort än 52 (t ex jokrar) och har därför satt ett 0 -> * (många) förhållande, och innan man lägger till kort så innehåller ju DeckOfCards faktiskt inga kort.</p>
    <div class="container d-flex justify-content-center mb-4">
        <a href="{{ asset('image/kmom02_uml.png')}}">
            <img class="rounded img-fluid shadow-sm" src="{{ asset('image/kmom02_uml.png')}}" alt="Bild på UML-diagram">
        </a>
    </div>
    <div class="row gap-3 text-center col-link-container">
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Sorterad kortlek</h4>
                <p>Se alla kortleken i en fransk-engelsk kortlek i en sorterad ordning.</p>    
            </div>
            <a  class="btn btn-primary" href="{{ path('card_deck') }}">Klicka här</a>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Blandad kortlek</h4>
                <p>Se alla korten i en fransk-engelsk kortlek i en blandad ordning.</p>    
            </div>
            <a class="btn btn-primary" href="{{ path('card_deck_shuffle') }}">Klicka här</a>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Dra ett kort</h4>
                <p>Dra ett kort ifrån kortleken.</p>    
            </div>
            <a class="btn btn-primary" href="{{ path('card_deck_draw_one') }}">Klicka här</a>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Dra flera kort</h4>
                <p>Dra ett eller flera kort ifrån kortleken, du väljer antal kort i nästa steg.</p>    
            </div>
            <a class="btn btn-primary"  href="{{ path('card_deck_draw_multi', {number: 0}) }}">Klicka här</a>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Dela ut kort</h4>
                <p>Dra ett eller flera kort ifrån kortleken till en eller flera spelare, du väljer antal kort i nästa steg.</p>    
            </div>
            <a class="btn btn-primary"  href="{{ path('card_deck_deal', {players: 0, cards: 0}) }}">Klicka här</a>
        </div>
    </div>
{% endblock %}