{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block header %}Spela Blackjack{% endblock %}

{% block main %}
    <div class="row">
        <p class="text-center">Pengar kvar: {{ player.getMoney() }}<br>Totalt satsat belopp: {{ player.getTotalBet() }}</p>
    </div>
    <div class="row">
        <div class="col">
            <h2 class="text-center">Banken</h2>
            <p class="text-center">Poäng:</p>
            <div class="blackjack-card-container mx-auto my-4">
                <img src="{{ asset('image/card-back.png') }}" class="shadow border card-sprite">
                <i
                class="shadow border {{ computer.getCards()[1].getClassName() }}"
                style="background-image:url({{ asset('image/cards-sprite.png')}});">
                </i>
            </div>
        </div>

        <div class="col">
            <h2 class="text-center">Spelare</h2>
            <p class="text-center">Poäng: {{ player.currentHand().getPoints() }}</p>
            <div class="blackjack-card-container mx-auto my-4">
                {% for card in player.currentHand().getCards() %}
                    <i
                        class="shadow border {{ card.getClassName() }}"
                        style="background-image:url({{ asset('image/cards-sprite.png')}});">
                    </i>
                {% endfor %}
            </div>
            {% for hand in player.getHands() %}
                {% if hand != player.currentHand() %}
                <div class="blackjack-card-container-mini mx-auto my-4">
                    {% for card in hand.getCards() %}
                        <i
                            class="shadow border {{ card.getClassName() }}"
                            style="background-image:url({{ asset('image/cards-sprite.png')}});">
                        </i>
                    {% endfor %}
                </div>
                {% endif %}
            {% endfor %}
            {% include '/game/options-form.html.twig' %}
        </div>
    </div>
{% endblock %}
