{% extends "base.html.twig" %}

{% block title %}Blackjack{% endblock %}

{% block header %}Spela Blackjack{% endblock %}

{% block main %}
    <div class="row">
        <div class="col">
            <h2 class="text-center">Dator</h2>
            <div class="card-container">
                <i
                class="shadow border {{ computer[0].getClassName() }}"
                style="background-image:url({{ asset('image/cards-sprite.png')}});">
                </i>
                <img src="{{ asset('image/card-back.png') }}" class="shadow border card-sprite">
            </div>
        </div>
        <div class="col">
            <h2 class="text-center">Spelare</h2>
            <div class="card-container">
                {% for card in player %}
                    <i
                        class="shadow border {{ card.getClassName() }}"
                        style="background-image:url({{ asset('image/cards-sprite.png')}});">
                    </i>
                {% endfor %}
            </div>
            <p class="text-center">Poäng: {{ optionsPlayer.bestValue }}</p>
            <form action="" method="post" class="mx-auto o-mw-250 d-flex justify-content-around">
                {% if optionsPlayer.softBlackjack %}
                    <input class="btn btn-primary w-25" type="submit" value="{{ optionsPlayer.blackjack ? 'Blackjack!' : '21!'}}"
                        onClick="this.form.action='{{ path('blackjack_stay') }}';"
                    >
                {% elseif not optionsPlayer.bust %}
                    <input class="btn btn-primary w-25" type="submit" value="Hit"
                        onClick="this.form.action='{{ path('blackjack_add_card') }}';"
                    >
                    <input class="btn btn-primary w-25" type="submit" value="Stay"
                        onClick="this.form.action='{{ path('blackjack_stay') }}';"
                    >
                {% endif %}
            </form>
        </div>
    </div>
{% endblock %}
