{% extends "base.html.twig" %}

{% block title %}Kasta gris{% endblock %}

{% block header %}Kasta gris{% endblock %}

{% block main %}
<p>Kasta tärningarna eller spara din hand. Kastar du en 1:a förlorar du alla poängen som du inte sparat.</p>

<p>Du spelar med {{ pigDices }} tärningar.</p>

<p>
{% for value in diceValues %}
    <span class="dice-list">{{ value }}</span>
{% endfor %}
</p>

<p>Poäng denna omgång: {{ pigRound }}</p>
<p>Totalpoäng: {{ pigTotal }}</p>

<form method="post" action="">
    <p>
        <input type="submit" name="roll" value="Kasta" onClick="this.form.action='{{ path('pig_roll') }}';">
        <input type="submit" name="save" value="Spara" onClick="this.form.action='{{ path('pig_save') }}';">
        <input type="submit" name="restart" value="Starta om" onClick="this.form.action='{{ path('pig_init_get') }}';this.form.method='get';">
    </p>
</form>

{{ include('/pig/flash.html.twig') }}

{% endblock %}