{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}

{% block header %}Några API:er{% endblock %}

{% block main %}
    <div class="row gap-3 text-center col-link-container">
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Quote</h4>
                <p>Ett api som genererar ett slumpmässigt citat tillsammans med dagens datum och en tidstämpel när svaret genererades.</p>
            </div>
            <a class="btn btn-primary w-100" href="{{ path('api_quote')}}">Testa här</a>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Sorterad kortlek</h4>
                <p>Ett api för att generera en kortlek och få den i en sorterad ordning.</p>    
            </div>
            <form action="{{ path('api_card_deck')}}" method="GET">
                <input class="btn btn-primary w-100" type="submit" value="Testa här">
            </form>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Blandad kortlek</h4>
                <p>Ett api för att generea och få en kortlek i blandad ordning.</p>    
            </div>
            <form action="{{ path('api_card_deck_shuffle')}}" method="POST">
                <input class="btn btn-primary w-100" type="submit" value="Testa här">
            </form>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Dra ett kort</h4>
                <p>Ett api för att dra ett kort från kortleken. Kortlekens "state" sparas och man kan återställa genom att blanda kortleken igen.</p>    
            </div>
            <form action="{{ path('api_card_deck_draw_one')}}" method="POST">
                <input class="btn btn-primary w-100" type="submit" value="Testa här">
            </form>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Dra flera kort</h4>
                <p>Ett api för att dra ett eller flera kort från kortleken. Kortlekens "state" sparas och man kan återställa genom att blanda kortleken igen.</p>    
            </div>
            <form id="api-draw-form" action="{{ path('api_card_deck_draw_multi', {number: 1} )}}" method="POST">
                <div class="mb-3">
                    <label class="form-label">Antal antal:</label>
                    <input class="form-control" type="number" id="api-deck-cards" min="0" max="52" value="1">    
                </div>
                <input class="btn btn-primary w-100" type="submit" value="Testa här">
            </form>
        </div>
        <div class="col mx-auto form-control d-flex flex-column justify-content-between shadow">
            <div>
                <h4>Dra kort till spelare</h4>
                <p>Ett api för att dra ett eller flera kort från kortleken. Kortlekens "state" sparas och man kan återställa genom att blanda kortleken igen.</p>    
            </div>
            <form id="api-deal-form" action="{{ path('api_card_deal', {players: 1, cards: 1} )}}" method="POST">
                <div class="mb-3">
                    <label class="form-label">Antal spelare:</label>
                    <input class="form-control" type="number" id="api-deal-players" min="0" max="52" value="1">
                    <label class="form-label">Antal kort:</label>
                    <input class="form-control" type="number" id="api-deal-cards" min="0" max="52" value="1"> 
                </div>
                <input class="btn btn-primary w-100" type="submit" value="Testa här">
            </form>
        </div>
    </div>

    {# Just a small script to update the form to make the POST route work #}
    <script>
        const drawForm = document.getElementById("api-draw-form");
        const drawInput = document.getElementById("api-deck-cards");
        const hostname = window.location.hostname;

        drawInput.addEventListener("change", (e) => {
            let newNum = e.target.value;
            if (hostname == "localhost") {
                drawForm.action = `/api/deck/draw/${newNum}`;
            } else {
                drawForm.action = `/~poak22/dbwebb-kurser/mvc/me/report/public/api/deck/draw/${newNum}`;
            }
        });

        const dealForm = document.getElementById("api-deal-form");
        const inputCards = document.getElementById("api-deal-cards");
        const inputPlayers = document.getElementById("api-deal-players");
        let cards = 1;
        let players = 1;

        inputCards.addEventListener("change", (e) => {
            cards = e.target.value;
            if (hostname == "localhost") {
                dealForm.action = `/api/deck/deal/${players}/${cards}`;
            } else {
                dealForm.action = `/~poak22/dbwebb-kurser/mvc/me/report/public/api/deck/deal/${players}/${cards}`;
            }
        });

        inputPlayers.addEventListener("change", (e) => {
            players = e.target.value;
            if (hostname == "localhost") {
                dealForm.action = `/api/deck/deal/${players}/${cards}`;
            } else {
                dealForm.action = `/~poak22/dbwebb-kurser/mvc/me/report/public/api/deck/deal/${players}/${cards}`;
            }
        });
    </script>
{% endblock %}
