<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Välkommen!{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/favicon.png ')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container">
                <a class="navbar-brand" href="{{ path('home') }}">
                    Hem
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('about') }}">Om</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('lucky') }}">Lucky</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('card_start') }}">Kort</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('blackjack_start') }}">Blackjack</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('api_start') }}">Api</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ path('report') }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Redovisning
                        </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom01">Kmom01</a></li>
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom02">Kmom02</a></li>
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom03">Kmom03</a></li>
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom04">Kmom04</a></li>
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom05">Kmom05</a></li>
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom06">Kmom06</a></li>
                        <li><a class="dropdown-item" href="{{ path('report') }}#kmom07-10">Kmom07-10</a></li>
                    </ul>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
        <header class="container-fluid d-flex flex-wrap justify-content-center py-3 mb-2 site-header" style="background-image: url( {{asset('image/site-header.png') }});">
            <h1 class="bg-transparent text-center">{% block header %}{% endblock %}</h1>
        </header>
        <main>
            <div class="container-sm flex-grow-1 o-mw-1080">
                {% block main %}{% endblock %}
            </div>
        </main>

        <div class="container-fluid">
            <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 border-top">
                <p class="col-md-4 mb-0 text-body-secondary text-center">&copy; 2023 Pontus Åkerberg</p>
            </footer>
        </div>
    </body>
</html>
