<!DOCTYPE html>
<html lang="sv">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <title>{% block title %}Get out!{% endblock %}</title>
        <link rel="icon" href="{{ asset('image/escapegame/objects/nyckel.png ')}}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="game-body">
        <header class="game-header mb-2">
            <nav class="position-relative">
                <div class="d-flex justify-content-between">
                    <a href="{{ path('home') }}" class="my-4">
                        <img src="{{ asset('image/escapegame/home-icon.png') }}" alt="Bild på en husikon!" class="proj-home-icon">
                    </a>
                    <span class="proj-links">
                        <a href="{{ path('proj_api') }}">Api</a>
                        <a href="{{ path('proj_about') }}">Om</a>
                    </span>
                </div>

                <a href="{{ path('proj') }}" class="game-link">
                    <img src="{{ asset('image/escapegame/getout-header.png') }}" alt="Bild med texten get out!" class="getout-img">
                </a>

            </nav>
        </header>
        <main>
            <div class="container-sm d-flex flex-column justify-content-center o-mw-1080 proj-container">
                {% block main %}{% endblock %}
            </div>
        </main>
        <div class="container-fluid">
            <footer class="d-flex flex-wrap justify-content-center align-items-center py-3 mt-4 border-top">
                <img src="{{ asset('image/escapegame/pacman-copy.png') }}" alt="Bild på pacman som en copyright symbol." class="proj-pac-copy">
                <p class="mb-0 mx-2 text-center game-footer">2023 Pontus Åkerberg</p>
            </footer>
        </div>
    </body>
</html>