{% extends "project/base.html.twig" %}

{% block main %}

<div class="game-container" id="game-container">
    <div class="game-image">
        {% for object in objects %}
            {% if object.getInObject() == -1 and not object.hidden %}
                {% set pos = object.getPosition %}
                {% set size = object.getSize %}
                <form action="{{ path('proj_game')}}" class="tl-50 object-form" style="left: {{ pos[0] }}%; top: {{ pos[1] }}%; width: {{ size[0] }}%; height: {{ size[1] }}%;">
                    <input type="submit" class="game-button" name="object" value="{{ object.getId }}">
                </form>
            {% endif %}
        {% endfor %}
        <img src="{{ asset('image/escapegame/rooms/' ~ img ) }}" alt="Ett av rum med olika saker och dörrar." class="escape-room">
        {% for dir in directions %}
            <form action="{{ path('proj_game_change_room') }}" action="POST" class="tl-50 dir-{{dir.direction}}">
                <input type="hidden" name="from-room" value="{{ dir.fromRoom }}">
                <input type="hidden" name="to-room" value="{{ dir.toRoom }}">
                <button type="submit" formmethod="post" name="submit" value="send-it" class="h-100 w-auto game-button">
                    <img src="{{ asset('image/escapegame/' ~ dir.direction ) }}.png" class="w-auto h-100">
                </button>
            </form>
        {% endfor %}
    </div>

    <div class="game-info d-flex justify-content-between">
        <div class="p-2">
            <p>
                {{ info }}
            </p>
            {% if object %}
                <p id="game-new-text">
                    {{ object.getInfo() }}
                </p>
                <form method="GET" action="{{ path('proj_game_object', {objectId: object.getId()} )}}" id="game-action-form">
                    {% for key, action in object.getActions() %}
                        <button value="{{ key }}">{{ action.getName() }}</button>
                    {% endfor %}
                </form> 
            {% endif %}
        </div>
        <div class="game-inventory-link p-2 align-self-center">
            <a href="{{ path('proj_game_inv') }}" class="w-100 h-100">
                <img src="{{ asset('image/escapegame/backpack.png')}}" alt="Bild på ryggsäck." class="w-100 h-100">
            </a>
        </div>
    </div>
</div>

<script>
    const container = document.getElementById("game-new-text");
    const actionForm = document.getElementById("game-action-form");
    const text = container.innerText;
    let textArray;
    let counter = 0;
    let writingInterval;

    container.innerText = "";
    actionForm.style.visibility = "hidden";
    textArray = text.split(" ");

    document.addEventListener('DOMContentLoaded', () => {
        writingInterval = setInterval(() => {
            container.innerText += ' ' + textArray[counter];
            counter++;

            if (counter === textArray.length) {
                clearInterval(writingInterval);
                actionForm.style.visibility = "visible";
            }
        }, 100);
    });
</script>

{% endblock %}