{% extends "project/base.html.twig" %}

{% block main %}

<div class="game-container" id="game-container">
    <div class="game-image">
        <img src="{{ asset('image/escapegame/rooms/' ~ img ) }}" alt="Ett av rum med olika saker och dörrar." class="escape-room blur-pic">
        <img src="{{ asset('image/escapegame/objects/' ~ objectImg )}}" alt="Närbild på ett av spelets objekt" class="object-closeup tl-50 ab-center">
        {% for object in innerObjects %}
            {% if not object.isHidden %}
                {% set pos = object.getPosition %}
                {% set size = object.getSize %}
                {% if object.getId != 24 %}
                    {% include '/project/forms/objectform.html.twig' %}
                {% else %}
                    {% include '/project/forms/innerform.html.twig' %}
                {% endif %}
            {% endif %}
        {% endfor %}
        <a href="{{ path('proj_game') }}">
            <img src="{{ asset('image/escapegame/down.png')}}" class="tl-50 dir-down">
        </a>
    </div>

    <div class="game-info d-flex justify-content-between">
        <div class="p-2">
            <p>
                {{ info }}
            </p>
            {% if object %}
                <p id="game-new-text">
                    {{ object.getInfo }}
                </p>
                <form method="POST" action="{{ path('proj_object_action', {objectId: id } )}}" id="game-action-form">
                    {% for key, action in object.getActions() %}
                        <input type="hidden" name="inner-object" value="{{ object.getId() }}">
                        <button type="submit" formmethod="post" name="action" value="{{ key }}">{{ action.getName() }}</button>
                    {% endfor %}
                </form> 
            {% endif %}
        </div>
        <div class="game-inventory-link p-2 align-self-center">
            <a href="{{ path('proj_game_inv') }}" class="w-100 h-100">
                <img src="{{ asset('image/escapegame/backpack.png')}}" alt="Bild på ryggsäck." class="w-100 h-100">
            </a>
        </div>
    </div>
</div>

<script>
    const container = document.getElementById("game-new-text");
    const actionForm = document.getElementById("game-action-form");
    const text = container.innerText;
    let textArray;
    let counter = 0;
    let writingInterval;

    container.innerText = "";
    actionForm.style.visibility = "hidden";
    textArray = text.split(" ");

    document.addEventListener('DOMContentLoaded', () => {
        writingInterval = setInterval(() => {
            container.innerText += ' ' + textArray[counter];
            counter++;

            if (counter === textArray.length) {
                clearInterval(writingInterval);
                actionForm.style.visibility = "visible";
            }
        }, 100);
    });
</script>

{% endblock %}